<div class="container">

  <div class="col-md-12">
    <h1>Thank you for your input! Community voting for 2017 has ended.</h1>
    <h3>We look forward to seeing you in Pittsburg in October 2017!</h3>
  </div>

  <div class="col-md-12">
    <img class="img-responsive" src="https://www.diglib.org/wp-content/uploads/2017/03/DLF-Forum-2017-Slider-web.jpg" alt="2017 Forum" />
  </div>

</div>
