<div class="container">

  <div class="col-md-12">
    <h1>Thank you for your input! Community voting for 2016 has ended.</h1>
    <h3>We look forward to seeing you in Milwaukee in November 2016!</h3>
  </div>

  <div class="col-md-12">
    <img class="img-responsive" src="https://www.diglib.org/wp-content/uploads/2016/02/DLF-Forum-2016-Slider-Website-1.png" alt="2016 Forum" />
  </div>

</div>
