<div class="jumbotron mt-5">
  <h1 class="display-4">Thank you for your input!</h1>
  <p class="lead">Community voting the 2020 Virtual DLF Forum
    <%= Date.today.year %>
    has ended.</p>
  <hr class="my-4">
  <p>We look forward to seeing you in online in November!</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://forum2020.diglib.org" role="button">Learn more</a>
  </p>
</div>
