<div class="container">

  <div class="col-md-12">
    <h1>Voting for 2016 for the DLF Forum has Ended</h1>
    <p>We look forward to seeing you in Milwaukee in November 2016!</p>
  </div>

  <div class="col-md-12">
    <img class="img-responsive" src="https://www.diglib.org/wp-content/uploads/2016/02/DLF-Forum-2016-Slider-Website-1.png" alt="2016 Forum" />
  </div>

</div>
