<div class="container">

  <div class="col-md-12">
    <h1>Thank you for your input! Community voting for
      <%= Date.today.year %>
      has ended.</h1>
    <h3>We look forward to seeing you in Tampa in October!</h3>
  </div>

  <div class="col-md-12">
    <!-- <img class="img-responsive" src="https://forum2018.diglib.org/wp-content/uploads/sites/18/2018/03/DLF-Forum-2018_FacebookCover_UPDATED.jpg" alt="2018 Forum"/> -->
  </div>

</div>