<h1>Proposals</h1>

<ul>
<% @proposals.each do |proposal| %>
  <li>
    <%= proposal.title %>
    <%= link_to like_proposal_path(proposal), method: :put do %>
      Vote <%= proposal.get_upvotes.size %>
    <% end %>
  </li>
<% end %>
</ul>
