@import "bootstrap";
@import "fonts";

$green:    #6c825f;
$orange:   #ed8d1b;
$red:      #ac2429;
$blue-ish: #005b9d;
$gray:     #f7f7f7;

@mixin badge-var($bg, $foreground: #fff) {
  background-color: $bg;
  color: $foreground;
  &[href] {
    @include hover-focus {
      color: $foreground;
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
  }
}

.badge-90-minute-workshop      { @include badge-var($orange); }
.badge-15-minute-talk-demo     { @include badge-var(#007aba); }
.badge-6-2-1-lightning-talk    { @include badge-var(#fcaf4f); }
.badge-15-minute-presentation  { @include badge-var($red); }
.badge-45-minute-panel         { @include badge-var($green); }
.badge-5-minute-lightning-talk { @include badge-var(#fcaf4f); }
