@import "bootstrap";
@import "fonts";
@import "variables";
@mixin badge-var($bg, $foreground: #fff) {
  background-color: $bg;
  color: $foreground;

  &[href] {
    @include hover-focus {
      color: $foreground;
      text-decoration: none;
      background-color: darken($bg, 10%);
    }
  }
}

.badge-90-minute-workshop {
  @include badge-var($shadow-blue);
}

.badge-15-minute-talk-demo {
  @include badge-var($glossy-grape);
}

.badge-6-2-1-lightning-talk {
  @include badge-var($middle-blue-green);
}

.badge-15-minute-presentation {
  @include badge-var($cedar-chest);
}

.badge-45-minute-panel {
  @include badge-var($steel-teal);
}

.badge-5-minute-lightning-talk {
  @include badge-var($mauvelous);
}

.badge-25-minute-birds-of-a-feather-boaf-session {
  @include badge-var($quinacridone-magenta);
}

.badge-solution-room {
  @include badge-var($mauvelous);
}

.badge-10-15-minute-tutorial {
  @include badge-var($pansy-purple);
}
