@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700|Raleway:300,400,500,700|Crimson+Text);

.icon-dlf-logo:before {
  content: "\e901";
}

.icon-ndsa_logo:before {
	content: "\e900";
}

.logo {
  font-weight: 700;
  font-size: 22px;
  color: #111 !important;
  letter-spacing: 1px;
}

.dlf {
	font-family: 'Crimson Text', sans-serif;
	span { font-size: 24px; }
}

.ndsa {
  font-family: 'Roboto', sans-serif;
	span { font-size: 24px; }
}

.lac {
  font-family: 'Raleway', sans-serif;
  span { font-size: 24px; }
}
