$green: #6c825f;
$orange: #ed8d1b;
$red: #ac2429;
$blue-ish: #005b9d;
$gray: #f7f7f7;
$gray2: #e9e9e9;
$dark-blue: #34495e;
//$glossy-grape: #A78BB5ff;
$glossy-grape: #6a4e78ff;
$pansy-purple: #792549ff;
// $cedar-chest: #D55A43ff;
$cedar-chest: #a62b14ff;
// $steel-teal: #528A8Cff;
$steel-teal: #296163ff;
// $shadow-blue: #6D80A0ff;
$shadow-blue: #465979ff;
$quinacridone-magenta: #9A3960ff;
// $middle-blue-green: #7FD2CEff;
$middle-blue-green: #10635fff;
$deep-champagne: #F6D39Eff;
// $mauvelous: #EB9FB1ff;
$mauvelous: #595959ff;
