// Place all the styles related to the Proposals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

// all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
}

.column {
  @extend .col-md-6;

}

main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px;
}

section {
  @extend .row;
  margin-top: 20px;
}

.abstract {
  display:none;
}

.abstract {
  background-color: #99ccff;
  padding: 20px;
  margin-top: 10px;
  border-bottom: 5px solid #3399ff;
}
