<div class="container">
    <div class="row">
        <div class="col-md-7">
            <h3 class="footer-title">What is this?</h3>

            <p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>

            <p>
                The source code is on <a href="https://github.com/clirdlf/participatory_voting">Github</a>
            </p>

            <h5>Social</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="http://twitter.com/CLIRDLF"><i class="fa fa-twitter"></i> Twitter</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/DLFCLIR">
                        <i class="fa fa-youtube"></i> Youtube
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/groups/4836034/profile">
                        <i class="fa fa-linkedin"></i> LinkedIn
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <div class="footer-banner">

                <h3 class="footer-title dlf"><i class="icon-dlf-logo"></i> DLF</h3>
                <p class="vcard">
                    <span class="fn org">Digital Library Federation</span><br>
                    <div class="adr">
                        <div class="street-address">
                            1707 L St. NW,<br>
                            Suite 650
                            <br>
                        </div>
                    </div>
                    <div>
                        <span class="locality">Washington</span>,
                        <abbr class="region" title="District of Columbia">DC</abbr>
                        <span class="postal-code">20036</span>
                        <br>
                    </div>

                    <abbr title="Phone">P:</abbr>
                    <span class="tel">(202) 939-4750</span>
                    <br>
                    <abbr title="Email">E:</abbr>
                    <a class="email" href="mailto:info@diglib.org">info@diglib.org</a>
                </p>
            </div>
        </div>
    </div>
</div>
