<footer class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <h1 class="footer-title">What is this?</h2>
        <p>
          This web application was developed to help give you a voice in shaping your conference. You may vote for as many proposals as you wish, but only one vote per proposal.
        </p>
        <p class="link-underscores">
          The source code is on
          <a href="https://github.com/clirdlf/participatory_voting">Github</a>
          if you want to take a look at how this works. If you run in to any issues, or have a suggestion for an improvement, be sure to
          <a href="https://github.com/clirdlf/participatory_voting/issues">let us know</a>!
        </p>

        <h2>Social</h2>
        <ul class="list-unstyled">
          <li>
            <a href="http://twitter.com/CLIRDLF">
              <i class="fab fa-twitter"></i>
              Twitter</a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/DLFCLIR">
              <i class="fab fa-youtube"></i>
              Youtube
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/digital-library-federation/">
              <i class="fab fa-linkedin"></i>
              LinkedIn
            </a>
          </li>
        </ul>
      </div>

      <div class="col-md-5 col-sm-12 bg-blue">
        <div class="footer-banner">
          <h3 class="footer-title dlf">
            <i class="icon-dlf-logo"></i>
            DLF Forum <%= Date.today.year %></h3>
          <div class="vcard">
            <p>
              <span class="fn org">CLIR</span><br>
              <div class="adr">
                <div class="street-address">
                  211 North Union Street <br>
                  Suite 100-PMB 1027
                </div>

                <span class="locality">Alexandria</span>,
                <span class="region" title="Virginia">VA</span>
                <span class="postal-code">22314</span>
                <br>
              </div>
              <abbr title="Email">E:</abbr>
              <%= mail_to 'forum@diglib.org' %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
