<nav class="navbar navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "https://www.diglib.org", class: 'navbar-brand logo dlf' do %>
        <i class="icon-dlf-logo blue"></i><span>DLF</span>
      <% end %>
      <%= link_to "https://ndsa.org", class: 'navbar-brand logo ndsa' do %>
        <i class="icon-ndsa_logo blue"></i><span>NDSA</span>
      <% end %>
    </div>
    <div class="collapse navbar-collapse">
      <ul id="section-nav" class="nav navbar-nav navbar-right">
        <%= render 'layouts/navigation_links' %>
      </ul>
    </div>
  </div>
</nav>
