<section id="conferences" class="blue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="media" data-section="learn-dlf">
          <div class="pull-left">
            <i class="far fa-lightbulb"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading">learn@dlf</h3>
            <p>
              A dedicated pre-conference day for digging into tools, techniques, workflows, and concepts
              <br/>
              <span class="pull-right">October 23-25, 2018</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media" data-section="2018-dlf-forum">
          <div class="pull-left">
            <i class="icon-dlf-logo icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading dlf">DLF Forum</h3>
            <p>
              The annual conference of the Digital Library Federation
              <br/>
              <span class="pull-right">October 23-25, 2018</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media" data-section="digital-preservation-2018">
          <div class="pull-left">
            <i class="icon-ndsa_logo icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading ndsa">DigiPres</h3>
            <p>
              Hosted by the National Digital Stewardship Alliance (NDSA) in partnership with DLF
              <br/>
              <span class="pull-right">October 25-26, 2018</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
