<!-- <li>
  <a class="navbar-brand logo dlf" href="http://diglib.org">
    <i class="icon-dlf-logo blue"></i><span>DLF</span>
  </a>
</li>

<li><%#= link_to 'About', page_path('about') %></li> -->
<li><a href="#2016-dlf-forum" aria-controls="2016-dlf-forum">2016 DLF Forum</a></li>
<li><a href="#digital-preservation-2016" aria-controls="#digital-preservation-2016">Digital Preservation 2016</a></li>
<li><a href="#lac-preconference" aria-controls="#digital-preservation-2016">LAC Preconference</a></li>
<% if current_user %>
  <li>
    Logged in as <%= current_user.email %><br />
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</li>
<% end %>
