<section id="conferences" class="blue">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="media" data-section="learn-dlf">
          <div class="float-left pr-2">
            <span class="icon-md">
              <i class="far fa-lightbulb"></i>
            </span>
          </div>
          <div class="media-body">
            <h3 class="media-heading">learn@dlf</h3>
            <p>
              A dedicated pre-conference day for digging into tools, techniques, workflows, and concepts
              <br/>
              <span class="float-right">November 8, 2020</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media" data-section="<%#= Time.current.year %>2019-dlf-forum">
          <div class="float-left pr-2">
            <i class="icon-dlf-logo icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading dlf">DLF Forum</h3>
            <p>
              The annual conference of the Digital Library Federation
              <br/>
              <span class="float-right">November 8-12, 2020</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="media" data-section="digital-preservation-2019<%#= Time.current.year %>">
          <div class="float-left pr-2">
            <i class="icon-ndsa_logo icon-md"></i>
          </div>
          <div class="media-body">
            <h3 class="media-heading ndsa">DigiPres</h3>
            <p>
              Hosted by the National Digital Stewardship Alliance (NDSA) in partnership with DLF
              <br/>
              <span class="float-right">November 11-12, 2020</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
