<section id="conferences" class="blue">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                  <div class="media" data-section="2016-dlf-forum">
                        <div class="pull-left">
                              <i class="icon-dlf-logo icon-md"></i>
                        </div>
                        <div class="media-body">
                              <h3 class="media-heading dlf">DLF Forum</h3>
                              <p>
                                    The annual conference of the Digital Library Federation
                                    <br /><span class="pull-right">October 23-25, 2017</span>
                              </p>
                        </div>
                  </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media" data-section="lac-preconference">
                      <div class="pull-left">
                            <i class="icon-dlf-logo icon-md"></i>
                      </div>
                      <div class="media-body">
                            <h3 class="media-heading dlf">DLFxHBCUs Unconference</h3>
                            <p>
                                  HBCU Library Alliance in partnership with DLF's Liberal Arts Colleges community
                                  <br /><span class="pull-right">October 22, 2017</span>
                            </p>
                      </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="media" data-section="digital-preservation-2016">
                      <div class="pull-left">
                            <i class="icon-ndsa_logo icon-md"></i>
                      </div>
                      <div class="media-body">
                            <h3 class="media-heading ndsa">DigiPres</h3>
                            <p>
                                  Hosted by the National Digital Stewardship Alliance (NDSA) in partnership with DLF
                                  <br /><span class="pull-right">October 25-26, 2017</span>
                            </p>
                      </div>
                </div>
            </div>
        </div>
    </div>
</section>
